body{
    font-family: Arial, sans-serif;
}

#preloader {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 999;
      width: 100%;
      height: 100%;
      overflow: visible;
      background: #fbfbfb url('../img/settings.gif') no-repeat center center;
}
    
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 100;
}

.logo{
    font-size: 28px;
    color: #fff;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 3s ease;
    -o-animation: comming 3s ease;
    animation: comming 3s ease;
}

.menu{
    float: left;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li a{
    transition: all 0.1s;
    color: white;
    display: inline-block;
    transform: scale(1);
    text-decoration: none;
}

.menu li a.active {
    color: brown !important;
}

.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: #d17700;
}

.menu li a:active{
    transform: scale(1.1);
}

.menu li:nth-child(2){
    animation-delay: 0.3s;
}

.menu li:nth-child(3){
    animation-delay: 0.6s;
}

.menu li:nth-child(4){
    animation-delay: 0.9s;
}

.menu li:nth-child(5){
    animation-delay: 1.2s;
}

.menu li:nth-child(6){
    animation-delay: 1.6s;
}

main{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat ,url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    text-align: center;
    color: #2c384a;
    width: 100%;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.2s;
    -o-animation-delay: 2.2s;
    animation-delay: 2.2s; 
}

.title__container h1{
    font-size: 72px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 20px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.title__container input{
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover{
    background: #344051;
    color: white;
    
}

.title__container input:active{
    transform: scale(1.1);
}

.white-btn:visited{
    color: white;
}

.about__container h2{
    font-size: 25px;
    color: #263244;
    margin: 109px 0 30px;
    -webkit-animation: h2 2s ease forwards;
    -o-animation: h2 2s ease forwards;
    animation: h2 2s ease forwards;
}

.about__container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
    opacity: 1;
}

.about__container img{
    -webkit-animation: comming 4s ease forwards;
    -o-animation: comming 4s ease forwards;
    animation: comming 4s ease forwards;
}

.about__container p{
    margin-top: 25px;
    text-align: left;
     position: relative;    
    -webkit-animation: p 2s ease forwards;
    -o-animation: p 2s ease forwards;
    animation: p 2s ease forwards;
}

.about__container input{
    height: 32px;
    text-align: right;
    border: 2px solid #6f707e;
    background: none;
    border-radius: 5px;
    color: #6f707e;
    font-size: 12px;
    padding: 0px 12px 0px 30px;
    margin-top: 39px;
    margin-bottom: 90px;
    background: url(../img/download.png) left no-repeat;
    background-position: 5% 50%;
}

.about__container input:hover{
    transition: all 0.2s;
    transform: scale(1);
    background: url(../img/download1.png) left no-repeat #344051;
    background-position: 5% 50%;
    color: white;
}

.about__container input:active{
    transform: scale(1.1);
}

.element-animation{
     opacity: 0;
}

.element-animation.element-show{
    opacity: 1;
    transition: opacity 1s;
}

.whatcan{
    background: url(../img/whatcan.jpg) fixed center/cover no-repeat;
}

.whatcan_container{
    padding-top: 110px;
    padding-bottom: 96px;
}

.whatcan_container h2{
    font-size: 25px;
    color: #263244;
    margin: 0px auto 30px;
    text-align: center;
    -webkit-animation: h2 2s ease forwards;
    -o-animation: h2 2s ease forwards;
    animation: h2 2s ease forwards;
}

.whatcan_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
    opacity: 1;
}

.whatcan_item{
    float: left;
    margin-top: 145px;
    position: relative;
    -webkit-animation: p 2s ease forwards;
    -o-animation: p 2s ease forwards;
    animation: p 2s ease forwards;
    opacity: 0;
}

.whatcan_item img{
    margin-bottom: 40px;
    height: 40px;
}

.whatcan_item h3{
    color: #cf7600;
    font-weight: bold;
    margin-bottom: 20px;
}

.whatcan_item:nth-child(1){
    animation-delay: 2.4s;
}

.whatcan_item:nth-child(2){
    animation-delay: 1.8s;
}

.whatcan_item:nth-child(3){
    animation-delay: 1.2s;
}

.whatcan_item:nth-child(4){
    animation-delay: 0.6s;
}
}

.case__container{
    text-align: center;
}

.case__container h2{
    font-size: 25px;
    color: #263244;
    margin-top: 109px;
    padding-bottom: 30px;
    text-align: center;
    -webkit-animation: h2 2s ease forwards;
    -o-animation: h2 2s ease forwards;
    animation: h2 2s ease forwards;
}

.case__container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
    opacity: 1;
}

.slide{
    padding-top: 43px;
}

.slide_item{
    float: left;
    margin: 40px auto;
}

.slide_item h3{
    font-size: 25px;
    font-weight: 600;
}

.slide_item p{
    font-size: 17px;
    margin: 16px 0;
}

.slide_item1 {
    margin: 40px;
}

.slide_item1 h3{
    text-align: left;
    font-weight: bold;
}

.slide_item1 p{
    text-align: left;
    padding-top: 15px;
}

.slide_item input{
    width: 180px;
    height: 45px;
    border-radius: 5px;
    background-color: #63b5ae;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.slide_item input:hover{
    background: #45958e;
    color: white;
}

.slide_item input:active{
    transform: scale(0.98);
}

.slide_item a:link{
    color: blue;
}

.slide_item a:visited{
    color: #755fdb;
}

.price {
   padding-top: 110px;
    padding-bottom: 96px;
}

.price__container h2{
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    margin-top: 109px;
    padding-bottom: 73px;
    text-align: center;
    -webkit-animation: h2 2s ease forwards;
    -o-animation: h2 2s ease forwards;
    animation: h2 2s ease forwards;
}

.price__container h3{
    font-size: 20px;
    margin-bottom: 23px;
}

.form-select{
    height: 50px;
    background: #eee;
    margin-bottom: 40px;
}

.calc h4{
    text-align: left;
    margin: 15px auto;
}

.days, .stoimost{
    margin-bottom: 0px;
    font-size: 21px;
}

.calc p{
    margin-bottom: 0px;
}

.calc .text{
    float: left;
    text-align: left;
}

.calc .digit{
    font-size: 29px;
    float: right;
}

.clear{
    clear:both;
}

.stat {
    background: url(../img/bg_stat.jpg) fixed center/cover no-repeat;
}

.stat__container{
    padding-bottom: 96px;
    opacity: 0;
}

.stat__container h2{
    font-size: 25px;
    color: #263244;
    padding-top: 109px;
    text-align: center;
    -webkit-animation: h2 2s ease forwards;
    -o-animation: h2 2s ease forwards;
    animation: h2 2s ease forwards;
}

.stat__container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 30px auto 60px;
    opacity: 1;
}

.stat_item{
    float: left;
    text-align: center;
    margin-top: 145px;
    position: relative;
    -webkit-animation: p 2s ease forwards;
    -o-animation: p 2s ease forwards;
    animation: p 2s ease forwards;
    opacity: 0;
}

.stat__conteiner {
    margin: 0 auto;
}

.stat_item:nth-child(1){
    animation-delay: 2.4s;
}

.stat_item:nth-child(2){
    animation-delay: 1.8s;
}

.stat_item:nth-child(3){
    animation-delay: 1.2s;
}

.stat_item:nth-child(4){
    animation-delay: 0.6s;
}

.stat_item h3{
    font-size: 27px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 20px;
    -webkit-animation: h3 2s ease forwards;
    -o-animation: h3 2s ease forwards;
    animation: h3 2s ease forwards;
}

.review__container{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 92px;
}

.review__container h2{
    width: 100%;
    font-size: 25px;
    color: #263244;
    margin-top: 109px;
    text-align: center;
    -webkit-animation: h2 2s ease forwards;
    -o-animation: h2 2s ease forwards;
    animation: h2 2s ease forwards;
}

.review__container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 30px auto 60px;
    opacity: 1;
}

.review img{
    display: block;
    -webkit-animation: comming 3s ease forwards;
    -o-animation: comming 3s ease forwards;
    animation: comming 3s ease forwards;
}

.blockquote p{
    margin-top: 35px;
}

.blockquote-footer {
    margin-top: 40px;
    -webkit-animation: p 3s ease forwards;
    -o-animation: p 3s ease forwards;
    animation: p 3s ease forwards;
}

.carousel{
    padding-bottom: 50px;
}

.carousel-indicators [data-bs-target]{
    background-color: silver;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.carousel-indicators .active{
    background-color: orange;
}

.contacts{
    background: url(../img/bg_contacts.jpg) center/cover no-repeat;
}

.contacts__container{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 92px;
}

.contacts__container h2{
    font-size: 25px;
    color: white;
    margin-top: 109px;
    padding-top: 80px;
    text-align: center;
    -webkit-animation: h2 2s ease forwards;
    -o-animation: h2 2s ease forwards;
    animation: h2 2s ease forwards;
}

.contacts__container p{
    text-align: center;
    margin-top: 50px;
    color: white;
    -webkit-animation: p 3s ease forwards;
    -o-animation: p 3s ease forwards;
    animation: p 3s ease forwards;
}

.contacts__container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 30px auto 60px;
    opacity: 1;
}

.contacts_item{
    text-align: center;
    margin-top: 30px;
}

.contacts_item p {
    margin-top: 15px;
}

.answer h3{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 40px;
    color: white;
    -webkit-animation: h3 2s ease forwards;
    -o-animation: h3 2s ease forwards;
    animation: h3 2s ease forwards;
}

.form-floating input{
    background: #cfd6dc;
}

.form-floating textarea{
    background: #cfd6dc;
}

.send {
    text-align: center;
}

.send input {
    width: 125px;
    height: 40px;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 0px 16px;
    margin: 40px 14px 80px 14px;
}

.send input:hover{
    background: #344051;
    color: white;
}

.send input:active{
    transform: scale(0.98);
}

.social{
    margin-bottom: 80px;
}
.social img {
    margin-left: 50px;
    padding: 0px 10px 0px 1px;
}

.maps{
    padding-top: 155px;
    text-align: center;
    width: 100%;
    height: 356px;
    background: url(../img/maps.jpg) round;
}

.maps input{
    width: 135px;
    height: 50px;
    background: #fff;
    color: black;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 4px 3px #aabda3;
}

footer{
    text-align: center;
    padding-top: 24px;
    color: white;
    height: 60px;
    background: #344051;
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes h2{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes h3{
    from{
        opacity: 0;
        margin-right: -500px;
    }
    to{
        opacity: 1;
        margin-right: 0;
    }
}

@keyframes p{
    from{
        opacity: 0;
        left: -500px;
    }
    to{
        opacity: 1;
        left: 0;
    }
}

@media (max-width: 991px){
    .title__container, .title__container h4, .title__container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    
    .title__container input{
        border: 2px solid #fff;
    
    }
    
    .main{
        position: relative;
    }
    
    .main:after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
}