body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    font-size: 28px;
    color: #fff;
    line-height: 60px;
    padding-left: 260px;
    float: left;
}

.menu{
    float: left;
    padding-left: 280px;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 16px;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat ,url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    margin: 280px 0px 0px 300px;
    text-align: center;
    color: #2c384a;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 20px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.about{
    width: 720px;
    margin: 0 auto;
    text-align: center;
}

.about img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    display: block;
}

.about h2{
    width: 100%;
    font-size: 25px;
    color: #263244;
    margin-top: 109px;
    text-align: center;
}

.about p{
    margin-top: 25px;
    text-align: left;   
}

.about input{
    height: 32px;
    text-align: right;
    border: 2px solid #6f707e;
    background: none;
    border-radius: 5px;
    color: #6f707e;
    font-size: 12px;
    padding: 0px 12px 0px 30px;
    margin-top: 39px;
    background: url(../img/download.png) left no-repeat;
    background-position: 5% 50%;
}

.whatcan{
    width: 100%;
    height: 520px;
    background: url(../img/whatcan.jpg) center/cover no-repeat;
}

.whatcan_conteiner{
    width: 920px;
    margin: 0 auto;
}

.whatcan h2{
    width: 100%;
    font-size: 25px;
    color: #263244;
    margin-top: 109px;
    padding-top: 109px;
    text-align: center;
}

.whatcan_item{
    float: left;
    width: 230px;
    text-align: center;
    margin-top: 145px;
}

.clear{
    clear: left;
}

.whatcan_item h3{
    color: #cf7600;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 20px;
}

.case{
    text-align: center;
}

.case h2{
    width: 100%;
    font-size: 25px;
    color: #263244;
    margin-top: 109px;
    padding-bottom: 73px;
    text-align: center;
}

.slide{
    width: 1170px;
    margin: 0 auto;
    padding-top: 43px;
}

.slide_item{
    width: 180px;
    float: left;
    margin: 40px auto;
}

.slide_item h3{
    float: left;
    font-weight: bold;
}

.slide_item input{
    width: 180px;
    height: 45px;
    border-radius: 5px;
    background-color: #63b5ae;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.slide_item p{
    text-align: left;
    margin: 15px 0px 15px 0px;
}

.clear{
    clear:left;
}

.slide_item1 {
    width: 848px;
    margin: 40px;
}
.slide_item1 h3{
    text-align: left;
    font-weight: bold;
}

.slide_item1 p{
    text-align: left;
    padding-top: 15px;
}

.price {
    width: 800px;
    margin: 0 auto;
    padding-top: 43px;
}

.price h2{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    margin-top: 109px;
    padding-bottom: 73px;
    text-align: center;
}

.price h3{
    width: 100%;
    font-size: 20px;
    margin-bottom: 23px;
}

.mySelect{
    width: 100%;
    height: 57px;
    background: #eee;
    margin-bottom: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sum h4{
    text-align: left;
    margin: 15px auto;
}

.stat {
    width: 100%;
    height: 500px;
    background: url(../img/bg_stat.jpg) center/cover no-repeat;
}

.stat h2{
    width: 100%;
    font-size: 25px;
    color: #263244;
    margin-top: 109px;
    padding-top: 109px;
    text-align: center;
}

.stat_conteiner {
    width: 920px;
    margin: 0 auto;
}

.stat_item{
    float: left;
    width: 230px;
    text-align: center;
    margin-top: 145px;
}

.stat_item h3{
    font-size: 27px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 20px;
}

.review{
    width: 720px;
    margin: 0 auto;
    text-align: center;
}

.review h2{
    width: 100%;
    font-size: 25px;
    color: #263244;
    margin-top: 109px;
    text-align: center;
}

.review img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    display: block;
}

.review p{
    margin-top: 40px;
}

.dot {
    display: block;
    width: 100%;
    padding-left: 304px;
}
.dot img{
    float: left;
    padding-left: 19px;
    margin-top: 54px;
}

.contacts{
    width: 100%;
    height: 800px;
    background: url(../img/bg_contacts.jpg) center/cover no-repeat;
}
.contacts h2{
    width: 100%;
    font-size: 25px;
    color: white;
    margin-top: 109px;
    padding-top: 80px;
    text-align: center;
}

.contacts p{
    text-align: center;
    margin-top: 50px;
    color: white;
}

.contacts_conteiner{ 
    width: 600px;
    margin: 0 auto;
}

.contacts_item{
    float: left;
    width: 200px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.contacts_item p {
    margin-top: 17px;
}

.answer h3{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}

.name  {
    padding-left: 10px;
    background: #d2d6dc;
    margin-left: 350px;
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
    width: 352px;
    height: 30px;
}

.email {
    padding-left: 10px;
    background: #d2d6dc;
    margin-left: 30px;
    text-align: left;
    font-weight: bold;
    width: 352px;
    height: 30px;
}

.message {
    padding-top: 10px;
    padding-left: 10px;
    background: #d2d6dc;
    font-weight: bold;
    width: 740px;
    height: 95px;
    margin-top: -30px;
}

.send {
    text-align: center;
}

.send input {
    width: 125px;
    height: 40px;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.social {
    width: 550px;
    margin: 46px auto;
    text-align: center;
}

.social img {
    margin-left: 50px;
    padding: 0px 10px 0px 1px;
}

.maps{
    padding-top: 155px;
    text-align: center;
    width: 100%;
    height: 356px;
    background: url(../img/maps.jpg) round;
}

.maps input{
    width: 135px;
    height: 50px;
    background: #fff;
    color: black;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 4px 3px #aabda3;
}

footer{
    text-align: center;
    padding-top: 24px;
    color: white;
    width: 100%;
    height: 60px;
    background: #344051;
}